VITE_SUPABASE_URL=https://uzgarjeukwulgptocior.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_FfAza3CBa1myd-RIItJyFg_vuu6XZH-
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FfAza3CBa1myd-RIItJyFg_vuu6XZH-
VITE_GEMINI_API_KEY=your-gemini-api-key-here
